body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
}

header {
  background: #000;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

nav a:hover {
  color: #00ffcc;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.home-links {
  text-align: center;
  margin: 40px;
}

.big-btn {
  display: inline-block;
  margin: 10px;
  padding: 15px 30px;
  background: #00ffcc;
  color: black;
  text-decoration: none;
  border-radius: 8px;
}

.big-btn:hover {
  background: #00ccaa;
}

.content {
  padding: 40px;
}

.card {
  background: #1a1a1a;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.card img {
  width: 200px;        /* ya jo size chaho */
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
